
.btn-datghe {
background-color: transparent;
padding:0;
}
.ghe {
    background-color: transparent;
    border: 0;
    margin: 0 9px;
    width: 38px;
    height: 41px;
  }
  .soGhe {
    position: absolute;
    color: black;
    font-size: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    top: 7px;
    z-index: 10;
  }
  .soGheDaDat {
    position: absolute;
    color: white;
    font-size: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    top: 7px;
    z-index: 10;
  }

.styleGheDaDat {
    filter: invert(55%) sepia(88%) saturate(2022%) hue-rotate(355deg) brightness(98%) contrast(102%);
    color: white !important;
    border:none;
}
.styleGheDangChon{
    filter: invert(38%) sepia(150%) saturate(357%) hue-rotate(116deg) brightness(90%) contrast(93%);
    color: white !important;
    border:none;
}
.styleHeading {
    margin: 30px auto;
}

